.heading {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    line-height: 3rem;
  }