.heading {
    width: 100%;
    text-align: left;
}

.body {
    width: 100%;
    text-align: left;
}

.caption {
    @extend .body;
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: right;
}

.mainContainer { 
    cursor: pointer;
}

.voteCol {
    float: left;
    width: 15%;
    height: 100%;
    padding-right: 1rem;
    .voteIcon {
        width: 52px;
        height: 52px;
        margin-bottom: 0.5rem;
    }

    .voteIcon:hover {
        cursor: pointer;
    }
}

.contentCol { 
    float: right;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100%;
}