.heading {
    width: 100%;
    text-align: left;
}

.bodyTitle {
    width: 100%;
    text-align: left;
}

.caption {
    @extend .bodyTitle;
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: right;
}

.mainContainer { 
    cursor: pointer;

}

.voteCol {
    float: left;
    width: 15%;
    height: 100%;
    padding-right: 1rem;
    .voteIcon {
        width: 52px;
        height: 52px;
        margin-bottom: 0.5rem;
    }

    .voteIcon:hover {
        cursor: pointer;
    }
}

.contentCol { 
    float: right;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.twitter-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #1da1f2;
    color: #fff;
    padding: 1px 10px;
    font-size: 16px;
    text-decoration: none;
    align-self: right; 
    width: 150px;
  }

  
  .twitter-button:hover {
    background-color: #0c86d1;
  }
  
  .twitter-button .twitter-logo {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('../../assets/icons/twitter-logo.png'); 
    background-size: cover;
    margin-left: 10px;
    vertical-align: middle;
  }

  .imageStyle { 
    max-width: 400px; 
  }